In [1]:
!wget https://github.com/alejoair/DSONLINE/blob/master/BLOQUE2/19-20/adult.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [24]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [36]:
df = pd.read_csv("adult.csv")

In [26]:
print(df.shape)
for col in df.columns:
    r = df[col][df[col].astype("object")=="?"].count()
    print(col,r)

(48842, 15)
age 0
workclass 2799
fnlwgt 0
education 0
educational-num 0
marital-status 0
occupation 2809
relationship 0
race 0
gender 0
capital-gain 0
capital-loss 0
hours-per-week 0
native-country 857
income 0

In [37]:
df.income.value_counts()

<=50K    37155
>50K     11687
Name: income, dtype: int64

In [44]:
df["anual-salary"] = df.income
minus = df["income"][df["income"]=="<=50K"].count()
plus = df["income"][df["income"]==">50K"].count()

In [133]:
df.drop(columns=["capital-loss"], inplace=True)

In [128]:
df["anual-salary"][df["race"]=="Black"] = np.random.normal(41300,s-5000, df["anual-salary"][df["race"]=="Black"].count())

C:\Users\kk\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [129]:
m = df["anual-salary"][df.race=="Black"].mean()
s = df["anual-salary"][df.race=="Black"].std()
print(m, s)

40899.70986882923 18236.33075320755

In [ ]:
plt.figure(figsize=(15,5))
for i,val in enumerate(df["hours-per-week"].unique()):
    #plt.subplot(1,2,i+1)
    sns.distplot(df["anual-salary"][df["hours-per-week"]==val], hist=False, label=val)
    #plt.title(val)

In [134]:
df.head()

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income,anual-salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,40,United-States,<=50K,47050.4
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,50,United-States,<=50K,48664.5
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,>50K,56566.3
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,40,United-States,>50K,16901.6
4,18,?,Some-college,10,Never-married,?,Own-child,White,Female,30,United-States,<=50K,87738.7

In [83]:
df.race.value_counts()

White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: race, dtype: int64